.bubble {
  position: relative;
  padding: 1em 2em;
	background: #9441D8;
  border-radius: .4em;
  color: #fafafa;
  font-family: "Gamja Flower";
  font-size: x-large;
  transform: translateY(80px);
}

.bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #9441D8;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}
